@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.carousel-item img {
    object-fit: cover;
    width: 95%;
    height: 800px;
}
</style>

<div class="container mt-4">
    <div class="row">
        <!-- Carousel Section -->
        <div class="col-md-8">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/bedre-dansktop.jpeg" alt="Image 1" class="img-fluid rounded">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/neonlys.jpeg" alt="Image 3" class="img-fluid rounded">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/forbande-ungdom.jpg" alt="Image 4" class="img-fluid rounded">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/denandenside.jpeg" alt="Image 2" class="img-fluid rounded">
                        </div>
                </div>
            </div>
        </div>

        <!-- Description and Shop Button -->
        <div class="col-md-4 d-flex flex-column justify-content-center">
            <h2>Ukendt Kunstner</h2>
            <p>Get Ukendt Kunstner's Latest Album <br>'Dansktop' on Vinyl Now!</p>
            <a href="/Shop" class="btn btn-primary btn-shop-now">Shop Now</a>
        </div>
    </div>
</div>