@page
@model ShoppingCartModel

<div class="row">
    <div class="col-md-6">
        <h2>Enter billing address</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="NewAddress.Street">Street</label>
                <input asp-for="NewAddress.Street" class="form-control" />
                <span asp-validation-for="NewAddress.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAddress.StreetNumber">Street number</label>
                <input asp-for="NewAddress.StreetNumber" class="form-control" />
                <span asp-validation-for="NewAddress.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAddress.Postal">Postal</label>
                <input asp-for="NewAddress.Postal" class="form-control" />
                <span asp-validation-for="NewAddress.Postal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAddress.City">City</label>
                <input asp-for="NewAddress.City" class="form-control" />
                <span asp-validation-for="NewAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="NewAddress.Country">Country</label>
                <input asp-for="NewAddress.Country" class="form-control" />
                <span asp-validation-for="NewAddress.Country" class="text-danger"></span>
            </div>
            <h3>Personal information</h3>
            <div class="form-group">
                <label asp-for="NewAddress.CardNumber">Card number</label>
                <input asp-for="NewAddress.CardNumber" class="form-control" />
                <span asp-validation-for="NewAddress.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="NewOrder.Email">E-mail</label>
                <input asp-for="NewOrder.Email" class="form-control" />
                <span asp-validation-for="NewOrder.Email" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Order</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>ShoppingCart</h2>
        <p>I will display my Shopping Basket here.</p>
        <div class="shopping-cart-footer">
            <button href="/Products" class="btn btn-info">Continue Shopping</button>
            <button href="/Complete" class="btn btn-success">Checkout</button>
        </div>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}